html{
    box-sizing: border-box;
    background-image: url("https://i.pinimg.com/564x/c2/8b/11/c28b111e671c67368e3cc11a4256c4fe.jpg");
    background-size: contain;
    background-attachment: fixed;   
    /* background-color: antiquewhite; */
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-size: 87%;
    font-family: 'Noto Sans TC', sans-serif;
}
/* 設定網頁大小 */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* header */
.header{
    width: 1200px;
    font-size: 1.2rem;
    background-color:rgb(133, 197, 176);
    /* backdrop-filter: blur(5px); */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    z-index: 1000;
    transition: all .5s ease-out;
}
.header-content{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 50px;
}
.header-content >a{
    display: block;
    width: 30%;
    margin-left: 20px;
}
.header-content-area{
    margin-left: 10px;
}
.header-content-area a{
    text-decoration: none;
}
.header-content-area-link{
    text-decoration: none;
}
.header-logo{
    width: 100%;
}
.header-title{
    font-size: 1.6em;
    color: rgb(231, 124, 124);
}
.header-title-slogan{
    font-size: 0.9em;
    color: rgb(167, 71, 71);
}
.flexbox{
    display: flex;
    align-items: center;
}
/* nav */
.nav{
    margin-right: 10px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right:20px;
}
.nav-link{
    display: block;
    color:white;
    text-decoration: none;
}
/* slider */
.slider{
    width: 100%;
}
.slider img{
    width: 100%;

}
.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*商品section*/
.section-title{
    width: 100%;
    font-size:2.3rem;
    font-weight: 500;
    text-align: center;
    padding: 20px 20px;
    color:rgb(0, 66, 0)
}
.main-area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
.main-area-content{
    width: 32%;
    position: relative;
    overflow: hidden;
    
}
.main-area-content img{
    width: 100%;
    transition: all 0.3s ease-out;
}
.main-area-link{
    font-size: 1.2em;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.main-area-img-text{
    width: 100%;
    color: rgb(48, 47, 47);
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}
/* 了解詳情 */
.main-area-button{
    width: 40%;
    margin: 0 auto;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 10px;
    color: rgb(46, 46, 46);
    text-align: center;
    background-color: rgb(255, 157, 157);/*這裡有改顏色*/
    padding: 8px 0px;
    transition: all .3s ease-out;
}
.main-area-button:hover{
    background-color: rgb(85, 61, 100);
    color:#fff;/* 這裡有改顏色 */
}
/* main-area2 */
.main-area2{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    height: 380px;
    /* border: black 1px solid; */

}
.main-area2-content{
    width: 48%;
    text-align: center;
    font-size: 1.15em;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}
.main-area-img-text2{
    position:absolute;
    text-align: center;
    width: 100%;
    color: white;
    bottom: 0px;
    padding: 15px 0px;
}
.main-area-img-text2 p{
    font-size: 1.2em;
    font-weight: 400;
    opacity: 0;
    transform: translateY(30px);
	transition: all 0.3s ease-out 0.2s; /* 我有改轉換速度 */
}
.main-area2-content:hover .main-area-img-text2{
    background:linear-gradient(to top,rgba(0, 0, 0, 0.8),transparent) ;
}
.main-area2-content:hover .main-area-img-text2 p{
    opacity: 1;
    transform: translateY(0px);
}
.main-area2-link{
    text-decoration: none;
}
.main-area2-content img{
    margin-right:25px;
    width: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
    
}
.main-area2-content:hover img{
    transform: scale(1) ;
}
.main-area2-content .main-area-img-text2 a{
    font-weight: 400;
    color: #fff;
	background:rgb(62, 189, 146);;
	display: inline-block;
	padding: 8px 25px;
	border-radius: 5px;
    margin-top: 15px;
	text-decoration: none;
	transform: translateY(20px);
	opacity: 0;
	transition: all 0.2s ease-out 0.1s;
}
.main-area2-content .main-area-img-text2 a:hover{
    background:#085a86;
}
.main-area2-content:hover .main-area-img-text2 a{
	opacity: 1;
	transform: translateY(0px);
}
/* footer */
.footer{
    width: 100%;
    height: 250px;
    font-size: 1.01rem;
    background-color: rgb(133, 197, 176);
}
.footer-container{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}
.footer-list{
    list-style: none;
    /* margin-left: 150px; */
    padding-top: 50px;
}
.footer-item{
    margin-top: 7px;
}
.footer-link{
    text-decoration: none;
    color:rgb(23, 16, 92) ;
}
.footer-infrolist{
    list-style: none;
    padding-top: 50px;
}
.footer-icon-flex{
    display: flex;
    margin-top: 2px;
}
.footer-icon-flex .footer-link{
    margin-right: 8px;
}
.footer-icon-flex .footer-link >i{
    font-size: 1.5em;
}